<!DOCTYPE html>
<html>
  <head>
    <title>GUESS WHO?</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <script type="text/javascript">alert('The word was {{myWord}} ya doof!');</script>
    <script type="text/javascript">window.location.href = 'https://www.youtube.com/watch?v=lXMskKTw3Bc';</script>
    <!-- insert shit here -->
    <!-- <script src="main.js"></script> -->
  </body>
</html>
